* {
  box-sizing: border-box;
}

.design {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1440px;
  height: 1476px;

  .buttonText {
    flex-shrink: 0;
    line-height: 20px;
    letter-spacing: 0;
    color: #000000;
    font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
  }

  .sections {
    flex-shrink: 0;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }

  .topBar {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 48px;
    background: #000000;
    padding: 16px 40px;
    overflow: hidden;

    .brand {
      flex-shrink: 0;
      width: 110px;
      height: 36px;
      overflow: hidden;
    }

    .type {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 8px;

      .navItem {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 8px;
        border-radius: 12px;
        background: #ffffff1a;
        padding: 8px 10px 8px 8px;
        overflow: hidden;
      }

      .navItem2 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 8px;
        border-radius: 12px;
        background: #ffffff00;
        padding: 8px 10px 8px 8px;
        overflow: hidden;
      }
    }

    .search {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
      border-radius: 1000px;
      background: #ffffff1a;
      padding: 11px 198px 11px 20px;
      height: 46px;
      overflow: hidden;

      .iconSearch {
        width: 24px;
        height: 24px;
        overflow: hidden;
      }

      .searchPlaceholder {
        line-height: 18px;
        letter-spacing: 0;
        color: #ffffff99;
        font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .actions {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: flex-end;
      column-gap: 28px;

      .actionItem {
        flex-shrink: 0;
        line-height: 20px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 600;
      }

      .btn {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 4px;
        border-radius: 100px;
        background: #ffffff;
        padding: 16px 12px 16px 16px;
        max-height: 44px;
      }
    }
  }

  .heroLayout {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    background: #000000;
    padding: 40px;
    min-width: 1440px;

    .sideMenu {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 16px;

      .menuItem {
        flex-shrink: 0;
        align-self: stretch;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 500;
      }
    }

    .mainContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;

      .heroTop {
        display: flex;
        align-items: flex-end;
        align-self: stretch;
        justify-content: space-between;
        min-width: 1106px;

        .headline2 {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          row-gap: 24px;

          .headline {
            flex-shrink: 0;
            align-self: stretch;
            width: 320px;
            line-height: 41px;
            letter-spacing: -0.9px;
            color: #ffffff;
            font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 36px;
          }

          .subheadline {
            flex-shrink: 0;
            opacity: 0.6;
            width: 320px;
            line-height: 27px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: "Google Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
          }

          .btn2 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: center;
            column-gap: 4px;
            margin-right: 227px;
            border-radius: 100px;
            background: #ffffff;
            padding: 16px 16px 16px 12px;
            height: 46px;
          }
        }

        .mediaSpot {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: space-between;
          width: 688px;
          min-width: 688px;
          height: 460px;
          overflow: hidden;

          .bottomAds {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 20px;
            background-color: #ffffff;
            padding: 409px 20px 20px;
            width: 336px;
            min-width: 336px;
            height: 460px;
            background-image: url(../image/mlfe2ibu-hyegtfo.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            .sponsor {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              column-gap: 4px;
              border-radius: 1000px;
              background: #00000033;
              padding: 10px;

              .sponsorName {
                flex-shrink: 0;
                line-height: 11px;
                letter-spacing: 0;
                color: #000000;
                font-family: "Google Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 15px;
                font-weight: 500;
              }
            }
          }
        }
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        column-gap: 4px;
        margin-top: 60px;
        width: 1106px;
        row-gap: 8px;

        .tag2 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 8px;
          border: 2px solid #ffffff1a;
          border-radius: 1000px;
          background: #ffffff00;
          padding: 7px 15px;

          .tag {
            flex-shrink: 0;
            line-height: 20px;
            letter-spacing: -0.37px;
            color: #ffffff99;
            font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 600;
          }
        }
      }
    }
  }

  .collectionList {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    column-gap: 16px;
    background: #000000;
    padding: 40px 40px 0px;
    width: 1440px;
    height: 718px;
    row-gap: 16px;

    .new {
      flex-shrink: 0;
      line-height: 10px;
      letter-spacing: 0;
      color: #000000;
      font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    .content {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 12px;
      padding-top: 8px;
      padding-bottom: 8px;
      overflow: hidden;

      .rectangle1 {
        flex-shrink: 0;
        align-self: stretch;
        background: #ffffff1a;
        width: 1px;
      }

      .flowCoreCapabilities {
        flex-grow: 1;
        opacity: 0.6;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .shotCardComponent {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      min-width: 400px;
      overflow: hidden;

      .thumbnail {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        height: 277px;
        overflow: hidden;

        .img {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          margin-right: -1px;
          padding: 12px 381px 239px 12px;
          background-image: url(../image/mlfe2ibu-r8wq1es.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .badgeNew {
            display: inline-flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            column-gap: 4px;
            border-radius: 1000px;
            background: #ffffff;
            padding: 8px 10px;
          }
        }
      }
    }

    .shotCardComponent2 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      min-width: 400px;
      overflow: hidden;

      .thumbnail2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        height: 277px;
        overflow: hidden;

        .img2 {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          margin-right: -1px;
          padding: 12px 381px 239px 12px;
          background-image: url(../image/mlfe2ibu-r8wq1es.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .badgeNew2 {
            display: inline-flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            column-gap: 4px;
            border-radius: 1000px;
            background: #21ff76;
            padding: 8px 10px;
          }
        }
      }
    }
  }
}
