* {
  box-sizing: border-box;
}

.memberAuthBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: #000000;
  padding-right: 495px;
  padding-left: 495px;
  width: 1440px;
  height: 872px;
  row-gap: 32px;

  .brand {
    flex-shrink: 0;
    width: 110px;
    height: 36px;
    overflow: hidden;
  }

  .title {
    flex-shrink: 0;
    align-self: stretch;
    letter-spacing: -0.5px;
    color: #ffffff;
    font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  .button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    column-gap: 12px;
    border-radius: 12px;
    background: #ffffff;
    padding: 14px 209px;

    .symbolSvg {
      flex-shrink: 0;
      width: 31px;
      height: 32px;
      overflow: hidden;
    }

    .googleSignInText {
      flex-shrink: 0;
      line-height: 21px;
      letter-spacing: -0.4px;
      color: #000000;
      font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .emailSignInPrompt {
    flex-shrink: 0;
    align-self: stretch;
    opacity: 0.6;
    letter-spacing: 0;
    color: #ffffff;
    font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  .emailForm {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 12px;

    .button2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 12px;
      border-radius: 12px;
      background: #ffffff33;
      padding: 16px 20px;

      .emailLabel {
        flex-grow: 1;
        opacity: 0.6;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .button3 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 12px;
      margin-right: 318px;
      border-radius: 1000px;
      background: #ffffff;
      padding: 16px 40px;

      .signInButtonText {
        flex-shrink: 0;
        line-height: 21px;
        letter-spacing: 0;
        color: #000000;
        font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  .forgotPasswordText {
    flex-shrink: 0;
    align-self: stretch;
    letter-spacing: 0;
    color: #ffffff;
    font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
  }
}
