* {
  box-sizing: border-box;
}

.sectionCollections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #000000;
  padding: 40px;
  width: 1440px;
  height: 824px;
  overflow: hidden;
  row-gap: 32px;

  .relatedTitle {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    column-gap: 4px;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: #ffffff1a;
    padding-bottom: 31px;

    .moreLikeThis {
      flex-grow: 1;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 600;
    }
  }

  .collectionList {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    column-gap: 16px;
    width: 1360px;
    height: 638px;
    row-gap: 16px;

    .new {
      flex-shrink: 0;
      line-height: 10px;
      letter-spacing: 0;
      color: #000000;
      font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    .content {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 12px;
      padding-top: 8px;
      padding-bottom: 8px;
      overflow: hidden;

      .feature {
        flex-shrink: 0;
        line-height: 18px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .rectangle1 {
        flex-shrink: 0;
        align-self: stretch;
        background: #ffffff1a;
        width: 1px;
      }

      .flowCoreCapabilities {
        flex-grow: 1;
        opacity: 0.6;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .shotCardComponent {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      min-width: 400px;
      overflow: hidden;

      .thumbnail {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        height: 277px;
        overflow: hidden;

        .img {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          margin-right: -1px;
          padding: 12px 381px 239px 12px;
          background-image: url(../image/mlh4covh-wc75jsc.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .badgeNew {
            display: inline-flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            column-gap: 4px;
            border-radius: 1000px;
            background: #ffffff;
            padding: 8px 10px;
          }
        }
      }
    }

    .shotCardComponent2 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      min-width: 400px;
      overflow: hidden;

      .thumbnail2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        height: 277px;
        overflow: hidden;

        .img2 {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          margin-right: -1px;
          padding: 12px 381px 239px 12px;
          background-image: url(../image/mlh4covh-wc75jsc.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .badgeNew2 {
            display: inline-flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            column-gap: 4px;
            border-radius: 1000px;
            background: #21ff76;
            padding: 8px 10px;
          }
        }
      }
    }
  }
}
